{% macro def_targets(target_group, target_lower_slice, target_upper_slice, target_type) %}
{% for host in groups[target_group][target_lower_slice:target_upper_slice] %}
{{ host }} node_type={{ target_type }}
{% endfor %}
{% endmacro %}
[automationcontroller]
{% set control_nodes = tower_control_nodes| default(0)| int %}
{% set hybrid_nodes = tower_hyrid_nodes| default(0)| int %}
{% set total_control_plane_nodes = control_nodes + hybrid_nodes %}
{% if groups['tower']|length == total_control_plane_nodes %}
{{ def_targets('tower', 0, control_nodes, 'control') }}
{{ def_targets('tower', control_nodes, total_control_plane_nodes, 'hybrid') }}
{% else %}
{{ def_targets('tower', 0, groups['tower']|length, 'hybrid') }}
{% endif %}

[database]
{% for host in groups['database'] %}
{{ host }}
{% endfor %}{# for host in groups['database'] #}

{% if groups['execution']|default([])|length > 0 %}
[execution_nodes]
{% set execution_nodes = tower_execution_nodes| default(0)| int %}
{% set hop_nodes = tower_hop_nodes| default(0)| int %}
{% set total_execution_plane_nodes = execution_nodes + hop_nodes %}
{% if execution_nodes >= 1 and groups['execution']|length == total_control_plane_nodes %}
{{ def_targets('execution', 0, execution_nodes, 'execution') }}
{{ def_targets('execution', execution_nodes, total_execution_plane_nodes, 'hop') }}
{% else %}
{{ def_targets('execution', 0, groups['execution']|length, 'execution') }}
{% endif %}

[execution_nodes:vars]
peers=automationcontroller
{% endif %}


[all:vars]
# PG variables
{% for host in groups['database'] %}
pg_host="{{ host }}"
pg_port="{{ pg_port | default('5432') }}"
{% endfor %}{# for host in groups['database'] #}
# registry variables
{% if 'devel' in installation_tarball %}
  registry_username="{{ brew_registry_username }}"
  registry_url="{{ brew_registry_url }}"
  registry_password="{{ brew_registry_password }}"
{% else %}
  registry_username="{{ redhat_registry_username }}"
  registry_url="{{ redhat_registry_url }}"
  registry_password="{{ redhat_registry_password }}"
{% endif %}
