[tower]
{% for host in groups['tower'] %}
{{ host }} 
{% endfor %}{# for host in groups['tower'] #}

{% if groups['iso']|default([])|length > 0 %}
[isolated_group_restrictedzone]
{% for isonode in groups['iso'] %}
{{ isonode }}
{% endfor %}

[isolated_group_restrictedzone:vars]
controller=tower
{% endif %}

[database]
{% for host in groups['database'] %}
{{ host }}
{% endfor %}{# for host in groups['database'] #}

[all:vars]
# PG variables
{% for host in groups['database'] %}
pg_host="{{ host }}"
pg_port="{{ pg_port | default('5432') }}"
{% endfor %}{# for host in groups['database'] #}

