[servers]
{% for host in groups['tower'] %}
{{ host }} ansible_ssh_private_key_file=conf/towerperf_id_rsa 
{% endfor %}{# for host in groups['tower'] #}

{% if groups['iso']|default([])|length > 0 %}
[iso_servers]
{% for isonode in groups['iso'] %}
{{ isonode }} ansible_ssh_private_key_file=conf/towerperf_id_rsa
{% endfor %}
{% endif %}

[database]
{% for host in groups['database'] %}
{{ host }} ansible_ssh_private_key_file=conf/towerperf_id_rsa
{% endfor %}{# for host in groups['database'] #}

[prometheus]
perf54.perf.lab.eng.bos.redhat.com ansible_password=100yard-
