[servers]
{% for host in groups['tower'] %}
{{ host }} ansible_ssh_private_key_file=conf/towerperf_id_rsa 
{% endfor %}{# for host in groups['tower'] #}

{% if groups['iso']|default([])|length > 0 %}
[iso_servers]
{% for isonode in groups['iso'] %}
{{ isonode }} ansible_ssh_private_key_file=conf/towerperf_id_rsa
{% endfor %}
{% endif %}

{% if groups['execution']|default([])|length > 0 %}
[execution_servers]
{% for execution_node in groups['execution'] %}
{{ execution_node }} ansible_ssh_private_key_file=conf/towerperf_id_rsa
{% endfor %}
{% endif %}

[database]
{% for host in groups['database'] %}
{{ host }} ansible_ssh_private_key_file=conf/towerperf_id_rsa
{% endfor %}{# for host in groups['database'] #}

[prometheus]
prometheus.hosted.upshift.rdu2.redhat.com ansible_ssh_private_key_file=conf/towerperf_id_rsa ansible_user=ansible-user
